
section.work-entries {
    position: relative;
    margin: 40px;

    ul.work-entries-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: flex-start;

        li {
            margin: 0 20px 20px 0;
        }
    }
}
