
section.work-entries {
    position: relative;
    overflow: hidden;
    height: 2289px;
    margin-top: 40px;
    margin-left: 243px;
    opacity: 1;

    ul.work-entries-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: flex-start;

        li {
            margin: 0 20px 20px 0;
        }
    }
}
