<section class="about">
    <div class="about-copy-box">
        <div class="copy">
            <h1>Hello!</h1>
            <p>Some Text</p>
        </div>
        <div class="copy-bg"></div>
    </div>
    <div class="about-bg"></div>
</section>
