<section class="about">
    <div class="about-copy-box">
        <div class="copy">
          <h1>Hello!<br />I'm Bridget.</h1>
          <p>
            I am a seasoned Product and Design leader with a rich professional journey spanning over 20 years. During that time I have been a driving force behind transformative change. I seek to empower companies to define and achieve their product visions. My leadership style is best described as a combination of strategic insight, hands-on expertise, and a relentless pursuit of excellence.
          </p><br />

          <p>
            My track record includes significant roles in executive leadership and driving company growth. I have successfully overseen the development and launch of numerous innovative products in a variety of competitive markets. My strategic approach to product development has consistently resulted in enhanced market visibility, increased revenue, and long-term customer loyalty.
          </p><br />

          <p>
            Throughout my career, I have cultivated a reputation for building and leading high-performing teams. My abilities include nurturing talent, fostering creativity, and instilling a shared vision among team members. My passion is helping teams blend innovative design with cutting-edge technology to create products that resonate with users.
          </p><br />

          <p>
            Those collaborating with me will experience a dedicated professional with forward-looking product goals, a strategic thinker, and a team builder. I specialize in translating thoughtful designs into market-leading products.
          </p><br />
        </div>
        <div class="copy-bg"></div>
    </div>
    <div class="about-bg"></div>
</section>
