<section class="about">
    <div class="about-copy-box">
        <div class="copy">
            <h1>Hello!<br />I'm Bridget.</h1>
            <p>I'm a User Experience Director in the Boulder area with 15+ years creating world-class user experiences.
                I have built a reputation for bringing sophisticated simplicity and thoughtful details into my design.</p><br />

            <p>In an age where technology has replaced human interaction, my passion lies in bringing humanistic values back to technology.</p><br />

            <p>Being a Colorado native, I'm an avid hiker of our beautiful Rocky Mountains.
                In my spare time I'm a wildlife photographer and birder.
                I enjoy everything travel-related and try to visit a new place each year,
                and of course, nothing beats a good cup of coffee!</p><br />

            </div>
            <div class="copy-bg"></div>
        </div>
        <div class="about-bg"></div>
    </section>
