
<section>
    <div class="background-slideshow-container">
        <ul class="background-slideshow">
            <li><span>Image 01</span><div><h3>Bridget<br>Sandoval<br>Design</h3></div></li>
            <li><span>Image 02</span><div><h3>Bridget<br>Sandoval<br>Design</h3></div></li>
            <li><span>Image 03</span><div><h3>Bridget<br>Sandoval<br>Design</h3></div></li>
            <li><span>Image 04</span><div><h3>Bridget<br>Sandoval<br>Design</h3></div></li>
        </ul>
    </div>
</section>
