{{#link-to 'application'}}
    <div class="app-logo"></div>
{{/link-to}}
<div id="menu-links">
    <nav>
        <ul>
            <li>{{#link-to "portfolio"}}Portfolio{{/link-to}}</li>
            <li>{{#link-to "about"}}About{{/link-to}}</li>
            <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
        </ul>
    </nav>
</div>
