<div class="portfolio-item">
    <img src="{{image}}">
    <div class="portfolio-mask">
        <div class="portfolio-content">
            <h2>{{title}}</h2>
            <p>{{desc}}</p>
            <button>Read More</button>
        </div>
    </div>
</div>
